<html>
    <head>
        <title>
            Home, Student
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    <body>
        <div class = "row">
            <div class = "col s12" style = 'font-size: 50px; font-weight: 100;'>
                Hi, <b>{{ name }}</b>
            </div>
        </div>
        <div class = "row">
                <div class = "col s12" style = 'font-size: 30px; font-weight: 100;'>
                    Do you want to..
                </div>
            </div>
    </body>
</html>